/* Header */
.global-header {
  height: 120px;
  position: sticky;
  left: 0;
  top: 0;
  transition: all var(--animation-duration);
  width: 100%;
  z-index: 10;
}
.admin-bar .global-header {
  top: var(--wp-admin--admin-bar--height);
}
.global-header.is-active {
    background-color: var(--clr-white);
    height: 60px;
}
.global-header > div {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.global-header .logo {
  display: block;
  height: 64px;
  transition: all var(--animation-duration);
}
.global-header.is-active .logo {
    height: 48px;
}