@font-face {
    font-family: "EB Garamond";
    src: url(../../assets/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
    font-weight: 400 800;
}
@font-face {
    font-family: "Inter";
    src: url(../../assets/fonts/Inter/Inter-VariableFont_opsz_wght.ttf);
    font-weight: 100 900;
}